* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #bd8ce2 0%, #1f0728 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 4rem;
    color: #ffffff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    animation: color-change 3s infinite alternate;
    letter-spacing: 0.1em;
    text-align: center;
}

/* Animation for color changes */
@keyframes color-change {
    100% {
        color: #e7c2ed;
    }
    20% {
        color: #350231;
    }
    50% {
        color: #deb3e2;
    }
}